name: Go Build

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.5'
          go-version-file: './go.mod'
          cache: false

      - run: go get github.com/akavel/rsrc
      
      - name: Build + zip
        shell: pwsh
        run: ./build.ps1

      - name: Upload zip artifact
        uses: actions/upload-artifact@v6
        with:
          name: EACS
          path: EACS.zip
          if-no-files-found: error
          retention-days: 30
